.container-movie-detail{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.movie-card-detail {
  font-size: 1.2rem;
  font-family:  'Lilita One', cursive;
  display: flex;
  justify-content: center;
  width: 30em;
}
.container {
  display: flex;
  flex-direction: column;  
  background-color: transparent;
  background-image: linear-gradient(-60deg, #ff585841 0%, #f0961973 100%);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 1em;
}
.title {
  color: rgb(121, 52, 52);
    font-size: 2.5rem;
    line-height: normal;
    margin-top: 0.9em;
    text-shadow: 1px 1px 1px black !important;
}
.details{
  text-align: center;
}
.title span {
    margin-left: 12px;
    background: #C4AF3D;
    border-radius: 5px;
    color: #544C21;
    font-size: 14px;
    padding: 0px 4px;
  }
.description {
  bottom: 0px;
  height: 200px;
  font-size: 16px;
  line-height: 26px;
  color: #B1B0AC;
  
}
.column {
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    text-shadow: 1px 0.1px rgb(180, 50, 50);
}

.img img {
  width: 10em;
  border-radius: 0.5em;
}
.container2 ul li{
  text-shadow: 1px 0.1px rgb(180, 50, 50);
}
.container2 {
  display: flex;
  flex-direction: row;
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 2em;

}


